{% extends "base.html" %}

{% block title %}Карта станций{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAu9mCfXCPixUSwFtA9ceOO+TaNG4fQBxSOHvsRjA="
      crossorigin=""/>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20n6fPUn9aOf/NS3OFk+zmfOkKBL6rlyADiszC9mGA="
        crossorigin=""></script>

<style>
    #mapid {
        height: 500px; /* Задайте желаемую высоту для карты */
        width: 100%;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Карта станций</h1>
    <div id="mapid"></div> {# Этот div будет содержать карту #}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}